openapi: 3.0.0
info:
  version: '0.1'
  title: Rebilly Experimental Reports REST API
  contact:
    name: Rebilly API Support
    url: 'https://www.rebilly.com/contact/'
    email: integrations@rebilly.com
  license:
    name: Rebilly
    url: 'https://my.rebilly.com/api/license/'
  termsOfService: 'https://www.rebilly.com/terms/'
  x-logo:
    url: 'https://rebilly.github.io/RebillyAPI/rb_apiLogo.svg'
    backgroundColor: '#0033A0'
tags:
  - name: Introduction
    description: |
      This API is experimental and likely to change.  We would appreciate
      feedback.
  - name: Authentication
    description: >
      When you sign up for an account, you are given your first API key.

      You can generate additional API keys, and delete API keys (as you may

      need to rotate your keys in the future). You authenticate to the

      Rebilly API by providing your secret key in the request header.


      Rebilly offers three forms of authentication:  private key, JSON Web
      Tokens, and

      public key.

      - private key: authenticates each request by searching for the presence

      of an HTTP header: REB-APIKEY.

      - JWT: authenticates each request by the HTTP header: Authorization.

      - public key: authenticates by the HTTP header: REB-AUTH (read more on
      this below).


      Rebilly also offers JSON Web Tokens (JWT) authentication, where you can
      control

      the specific granular permissions and expiration for that JWT.  We call
      our resource

      for generating JWT [Sessions](#tag/Sessions).


      Rebilly also has a client-side authentication scheme that uses an

      apiUser and HMAC-SHA1 signature (only for the Tokens resource), so

      that you may safely create tokens from the client-side without
      compromising

      your secret keys.


      Never share your secret keys. Keep them guarded and secure.

      The client-side authentication scheme uses one HTTP header named REB-AUTH.
  - name: Histograms
    description: |
      Histograms are for particular kinds of reports with cohorts and periods.
  - name: Reports
    description: >
      Retrieve summary information about your customers, subscriptions,
      transactions, and more.
  - name: Data Exports
    description: |
      Data exports.
  - name: Timelines
    description: >
      Timelines are holding various events that occurred during a lifetime of a
      specific resource
  - name: Activity Feed
    description: |
      Activity Feed is holding various events that occurred in the app.
security:
  - ApiKey: []
servers:
  - url: 'https://api.rebilly.com/experimental'
